@media (max-width: 600px) {
  .game-wrapper {
    /* overflow: hidden; */
    width: 100%;
    margin-bottom: 0;
    
  }
  .opponents {
    display: flex;
    flex-direction: column;
  }
  .opponent-image {
    height: 30vw;
  }
  .timer {
    top: 30%;
    bottom: auto;
  }
  .opponent {
    min-width: 10px;
    height: 100;
    margin-bottom: 2vh;
    top: 50%;
  }
  p {
    margin: 10px 0;
  }
  .opponent-image {
    height: 56px;
    width: auto;
    margin-right: 20px;
  }
  .leader {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
  }
  .leader-response {
    position: static;
    font-size: small;
    max-width: 100%;
  }
  .textBox {
    font-size: 1rem;
  }
  .response-bubble {
    border: 2px solid black;
    padding: 2px 4px;
    margin-bottom: 15px;
    min-width: 30%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input {
    font-size: .8rem;
    width: 100%;
    height: 0.8rem;
    margin-right: 1rem;
    max-width: 150px;
    margin: 10px 0;
  }
  .input-wrapper {
    flex-direction: row;
    margin-right: -1rem;
  }
  .all-buttons {
    margin: 0;
    margin: 10px 0;
  }
  .gameInstructions {
    padding: 4rem, 2rem;
  }
  .guess-counter {
    position: absolute;
    top: 20%;
    left: 4%;
  }
  .present-opponent {
    flex-direction: column;
  }
  .opponent-start {
    display: flx;
  }
  .logo-img-start {
    width: 30vw;
  }
  .sound-bar {
    border: none;
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0;
  }
}