body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-wrapper {
  height: 80vh;
  width: 50vw;

  border: 2px solid black;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Margin mellan elementen */
.game-wrapper > * {
  margin-bottom: 1rem;
}

.start-view {
  background-color: red;
}

.guess-counter {
  position: absolute;
  top: 5%;
  left: 5%;
}

/* Test för opponent och textbox */

.opponents {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.opponent {
  height: 100px;
  width: 200px;
  background-color: lightskyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 1rem;
  padding: 1rem;
}

.textBox {
  height: 200px;
  width: 300px;
  background-color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
}
