body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Gaegu", cursive;
}

input:focus,
button:focus {
  outline: none;
}

.game-wrapper {
  height: 99vh;
  width: 60vw;
  background-color: rgb(178, 197, 250);

  border: 5px solid rgb(203, 243, 210);
  border-radius: 0.5rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Margin mellan elementen */
.game-wrapper > * {
  margin-bottom: 1rem;
}

.start-view {
  background-color: rgb(178, 197, 250);
}

.over-view {
  background-color: rgb(178, 197, 250);
}

.guess-counter {
  position: absolute;
  top: 20%;
  left: 9%;
}

.nameInput {
  display: flex;
  text-align: center;
  top: 96%;
  right: 3%;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameInstructions {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* Test för opponent och textbox */

.opponents {
  display: flex;
  flex-direction: column;

  
}

.opponent {
  min-width: 250px;
  height: 100;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -35%;
  margin-bottom: 20px;

}

.class {
  font-weight: bold;
  font-size: 1.5rem;
}

.opponent-image {
  height: 100px;
  width: auto;
  margin-right: 10px;
}

.text-element {
  display: flex;
  flex-direction: column;
}

/* .guessnumber {
  font-weight: bold;

} */

.textBox {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

span {
  padding: 1rem;
}

input {
  font-family: "Gaegu", bold;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
}

.view-highscore {
  text-align: center;
  background-color: #ffcea8;
  padding-top: 0.1rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 15rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table {
  text-align: center;
  width: 15rem;
  height:10rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(203, 243, 210);
}

table tr:nth-child(odd) {
  background-color: rgb(178, 197, 250);

}

.logo-img-start {
  width: 15vw;
  height: auto;
}

.logo-img-absolute {
  width: 8vw;
  height: auto;
  position: absolute;
  left: 5%;
  top: 5%;
}

.present-opponent {
  display: flex;
  width: 100%;
}

.present-opponent > span {
  display: flex;
  flex-direction: column;
  justify-items: let;
  align-items: center;
  padding: 0.4rem;
  margin: 0.2rem;
}

/* //Buttons  */
.all-buttons {
  border: 0.1rem solid black;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  font-family: "Gaegu", bold;
  outline: none;
}

button:hover {
  transform: scale(1.4) perspective(1px);
}

.sound-bar {
  position: absolute;
  top: 5%;
  right: 5%;
  border: none;
}

.sound-buttons {
  padding: 0.5rem;
  border: solid 0.1rem;
  border-radius: 2rem;
  margin-left: 0.2rem;
  font-family: "Gaegu", bold;
  outline: none;
}

.leader {
  margin-right: -5%;
  position: absolute;
  right: 0%;
  top: auto;
  bottom: auto;

  width: 25%;
}

.response-bubble {
  background-color: white;
  border: 2px solid black;
  padding: 5px 2px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.leader-response {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  position: absolute;
  right: 20%;
  top: auto;
  bottom: auto;

  margin-bottom: -5%;

  max-width: 20%;
}

.hidden {
  display: none;
}
