body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-wrapper {
  height: 80vh;
  width: 50vw;

  border: 2px solid black;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start-view {
  background-color: red;
}

.over-view {
  background-color: red;
}

.guess-counter {
  position: absolute;
  top: 5%;
  left: 5%;
}
